
h1{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
body{
    background-color: rgb(219, 112, 104);
   }
   nav > a{
       background-color: #e7724e;
        padding: 8px 12px;
       text-decoration: none;
   }
   input, textarea{
    background-color: rgb(239, 137, 96);
    border-radius: 12px;
    color:whitesmoke;
    padding: 8px 12px 10px 18px;
    /* border: 2px red solid; */
    border-width: 0 0 5px 0;
    border-color:indianred
   }
   input:focus, textarea:focus{
    background-color: indianred
   }
   input[type=submit], input[type=reset]{
background-color: indianred;
   }
   input[type=submit]:hover{
    background-color: #e7724e;
   }
   input[type=reset]:hover{
    background-color: #e7724e;
   }
   #Name{
    
   }
   body{
   
   }
   nav{
    background-color: #e7724e;
    padding: 8px;
    
   }
  
@media screen and (max-width: 480px) {
    body {
        background-color: beige;
    }
    #A_picture_of_Shamour_and_his_zesty_friend {
      width: 30%;
    }
    /* mobile-phone */
}